﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@using Guce.Entities.Custom
@using Guce.MvcWebUI.HtmlHelpers
@using Guce.MvcWebUI.Models.Custom
@model Guce.MvcWebUI.Models.Reference.AddReferenceListViewModel

@{
    ViewBag.ComponentInfos = Model.Infos;
    ViewBag.MethodeVisibility = "executeVisbilityDialog" + Model.DicId;
    ViewBag.PanelId = "dialogPanel_" + Model.DicId;
    IVwCurrentValueService currentValueService = new VwCurrentValueManager(new EfVwCurrentValueDal(), new EfDicFieldDal());
}

<div id="dialogPanel_@Model.DicId" class="form-horizontal">
    @{
        var i = 0;
        foreach (var formField in Model.Fields)
        {
            var fields = formField.ToList();
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@formField.Key</h3>
                    <div class="box-tools pull-right">
                        <!--<button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>-->
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @foreach (var field in fields)
                    {
                        var info = new ComponentInfo
                        {
                            Id = ViewBag.PanelId + "_" + field.WafId.ToString(),
                            DisplayName = field.DisplayName,
                            Type = field.Type,
                            CodeDcdId = field.CodeDcdId,
                            CodeInlineDcdId = field.CodeInlineDcdId,
                            Description = field.Description,
                            Empty = field.Empty,
                            Index = i,
                            ParentId = field.DflId ?? field.WvaId,
                            ReferenceId = field.ReferenceDicId,
                            TagName = field.DflId != null ? "Values" : "Variables",
                            ParentProperty = field.DflId != null ? "DflId" : "WvaId",
                            ValueProperty = field.DflId != null ? "ValueContent" : "Value",
                            Visibility = field.Visibility,
                            ConditionalDisplayName = field.ConditionalDisplayName,
                            DicName = field.DicName,
                            Name = field.TechnicalName,
                            DefaultValue = field.DefaultValue,
                            TextArea = field.TextArea,
                            Css = field.Css,
                            MultiValued = field.MultiValued,
                            ValidationRegexp = field.ValidationRegexp,
                            ReadOnly = true,
                            SearchCriteria = field.SearchCriteria,
                            Group = field.Group,
                            Order = field.Order,
                            DicColor = field.DicColor,
                            DicShareable = field.DicShareable,
                            Mask = field.Mask
                        };
                        if (Model.EntityId != 0 && info.ParentId != null && info.ParentProperty.Equals("DflId"))
                        {
                            var value = currentValueService.GetCurrentValue(Model.EntityId, (int) info.ParentId);
                            
                            if (value != null)
                            {
                                info.Value = info.Type.Equals(FieldType.Code) ? value.CodeId?.ToString() : value.Value;
                                info.ValueId = value.ValId;
                            }
                        }
                        @Html.CreateComponent(info, true, false, Session["username"].ToString())
                        if (info.MultiValued != null && (bool) info.MultiValued
                            && Model.EntityId > 0 && info.ParentId != null)
                        {
                            var valIdParent = info.ValueId;
                            var multiValues = currentValueService.GetMultiValues(Model.EntityId, (int) info.ParentId, valIdParent);
                            foreach (var currentValue in multiValues)
                            {
                                info.Value = currentValue.Value;
                                info.ValueId = currentValue.ValId;
                                info.Id = info.Id + currentValue.ValId;
                                @Html.CreateComponent(info, true, true, Session["username"].ToString())
                            }
                        }
                        i++;
                    }
                </div><!-- /.box-body -->
            </div>
        }
    }
</div>
@{
    if (@ViewBag.ComponentInfos != null)
    {
        @ComponentHelper.PageJavascript(@ViewBag.ComponentInfos, "dialogJSON" + Model.DicId, "executeVisbilityDialog" + Model.DicId+"()", false, @Model.EntityId)
    }
}