﻿@using Guce.MvcWebUI.HtmlHelpers
@using Guce.MvcWebUI.Models.Custom
@model Guce.MvcWebUI.Models.Reference.SearchReferenceListViewModel

@{
    ViewBag.Username = Session["username"];
    ViewBag.ComponentInfos = Model.Infos;
    ViewBag.MethodeVisibility = "executeVisbilityDialog" + Model.DicId;
    ViewBag.PanelId = "dialogPanel_" + Model.DicId;
}

<div id="dialogPanel_@Model.DicId" class="form-horizontal" style="margin-left: -5px; margin-right: -5px; margin-bottom: -15px;">
    <div class="box box-danger direct-chat direct-chat-danger">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                @if (Model.Entities.Count > 0)
                {
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="@Model.DicName existant(s)"
                            data-widget="chat-pane-toggle">
                        <i class="fa fa-clone"></i> @Model.DicName existant(s)
                    </button>
                    <span class="badge bg-red">@Model.Entities.Count</span>
                }
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" style="margin-top: 10px;">
                @{
                    var i = 0;
                    foreach (var field in Model.Fields)
                    {
                        @Html.CreateComponent(new ComponentInfo
                        {
                            Id = ViewBag.PanelId + "_" + field.Id.ToString(),
                            DisplayName = field.DisplayName,
                            Type = field.Type,
                            CodeDcdId = field.CodeDcdId,
                            CodeInlineDcdId = field.CodeInlineDcdId,
                            Description = field.Description,
                            Empty = field.Empty,
                            Index = i,
                            ParentId = field.Id,
                            ReferenceId = field.ReferenceDicId,
                            TagName = "Values",
                            ParentProperty = "DflId",
                            ValueProperty = "ValueContent",
                            Visibility = field.Visibility,
                            ConditionalDisplayName = field.ConditionalDisplayName,
                            DefaultValue = field.DefaultValue,
                            TextArea = field.TextArea,
                            Css = field.Css,
                            MultiValued = field.MultiValued,
                            ValidationRegexp = field.ValidationRegexp,
                            SearchCriteria = field.SearchCriteria,
                            Group = field.Group,
                            Name = field.Name,
                            Order = field.Order,
                            Mask = field.Mask,
                            ReadOnly = false,
                            Value = Model.DflValues != null ? ComponentHelper.GetValue(Model.DflValues, field.Id) : null,
                            InSearchDialog = true
                        }, true, false, Session["username"].ToString())
                        i++;
                    }
                }
            </div><!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    @foreach (var entity in Model.Entities)
                    {
                        <li>
                            <a onclick='dialogSearch.close(); chooseEntity("@entity.Id", "@entity.DicId", "@Model.Id", "@entity.Name", true);'>
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        @entity.Name
                                    </span>
                                </div>
                            </a>
                        </li>
                    }
                </ul><!-- /.contatcts-list -->
            </div><!-- /.direct-chat-pane -->
        </div><!-- /.box-body -->
    </div><!--/.direct-chat -->
</div>
@{
    if (@ViewBag.ComponentInfos != null)
    {
        @ComponentHelper.PageJavascript(@ViewBag.ComponentInfos, "dialogJSON" + Model.DicId, "executeVisbilityDialog" + Model.DicId + "()", false, @Model.EntityId)
    }
}