﻿
@model Guce.MvcWebUI.Models.Home.HomeViewListModel
@{
    ViewBag.Title = "Accueil";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
}

@section Javascript
{
    <script type="text/javascript">
        var startWfActionUrl = '@Url.Action("Start", "Home")';
    </script>
    <script src="~/Scripts/Custom/homeScript.js"></script>
}

<section class="content-header">
    <h1>
        <i>@Model.SiteName</i><small>: @Model.Groups</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="~/Home"><i class="fa fa-home"></i> Accueil</a></li>
    </ol>
</section>
<section class="content">
    @if (TempData["Message"] != null)
    {
    <div class="alert alert-success fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="fa fa-times"></i>
        </button>
        @TempData["Message"]
    </div>
    }
    <!-- Main row -->
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-solid box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Dossiers en attente (@Session["pendingAllActions"])</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @if (@Model.VwActiveNextActions.Count > 0)
                    {
                        <div class="table-responsive">
                            <table id="pendingFolderAlls" class="table no-margin">
                                <thead>
                                <tr>
                                    <th>Procédure</th>
                                    <th>Numéro dossier</th>
                                    <th>Entreprise</th>
                                    <th>Groupe</th>
                                    <th><i class="fa fa-gears"></i> Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var action in Model.VwActiveNextActions)
                                {
                                    <tr>
                                        <td>@action.WflName</td>
                                        <td>
                                            <span class="label label-warning" style="font-size: 12px;">@action.FlwReference</span>
                                        </td>
                                        <td>@action.EntName</td>
                                        <td>@action.GrpName</td>
                                        <td>
                                            @if (action.Lock)
                                            {
                                                <button class="btn btn-sm btn-danger disabled" type="button" title="@HttpContext.Current.Application[action.FlwId + "_" + action.EntId + "_" + action.WacId]">
                                                    <i class="fa fa-lock"></i> @action.WacName
                                                </button>
                                            }
                                            else
                                            {
                                                <button onclick="startWfAction(@action.WflId, @action.WfvId, @action.WacId, @action.FlwId, @action.EntId);" class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-play"></i> @action.WacName
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    }
                    else
                    {
                        <div class="text-center">Aucune action attendue pour @ViewBag.Username</div>
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pendingFolderAlls").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "pageLength": 6,
            "language": {
                "url": dataTableFrenchJson
            }
        });
    });
</script>