﻿@using Guce.MvcWebUI.HtmlHelpers
@model Guce.MvcWebUI.Models.Home.HomeViewListModel
@{
    ViewBag.Title = "Accueil";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
}

@section Javascript
{
    <script type="text/javascript">
        var startWfActionUrl = '@Url.Action("Start", "Home")';
    </script>
    <script src="~/Scripts/Custom/homeScript.js"></script>
}

<section class="content-header">
    <h1>
        <i>@Model.SiteName</i><small>: @Model.Groups</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="~/Home"><i class="fa fa-home"></i> Accueil</a></li>
    </ol>
</section>
<section class="content">
    @if (TempData["Message"] != null)
    {
    <div class="alert alert-success fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="fa fa-times"></i>
        </button>
        @TempData["Message"]
    </div>
    }
    <!-- Main row -->
    <div class="row">
        @{
            var col = Model.Workflows.Count > 0 ? 8 : 12;
        }
        <div class="col-md-@col">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-solid box-danger">
                <div class="box-header with-border">
                    @{
                        var pendingActions = !(bool) Session["isAdmin"] ? "(" + @Session["pendingActions"] + ")" : "";
                    }
                    <h3 class="box-title">Dossiers en attente @pendingActions</h3>
                    @{
                        if ((bool) Session["isAdmin"])
                        {
                            <div class="box-tools pull-right">
                                <a class="btn bg-navy" href="~/Home/All">
                                    <i class="fa fa-folder-open-o"></i> Afficher tout (@Session["pendingAllActions"])
                                </a>
                            </div>
                        }
                    }
                </div><!-- /.box-header -->
                <div class="box-body">
                    @if (@Model.VwUserNextActions.Count > 0)
                    {
                        <div class="table-responsive">
                            <table id="pendingFolders" class="table no-margin">
                                <thead>
                                <tr>
                                    <th>Procédure</th>
                                    <th>Numéro dossier</th>
                                    <th>Entreprise</th>
                                    <th><i class="fa fa-gears"></i> Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var action in Model.VwUserNextActions)
                                {
                                    <tr>
                                        <td>@action.WflName</td>
                                        <td>
                                            <span class="label label-danger" style="font-size: 12px;">@action.FlwReference</span>
                                        </td>
                                        <td>@action.EntName</td>
                                        <td>
                                            @if (action.Lock)
                                            {
                                                <button class="btn btn-sm btn-danger disabled" type="button" title="@HttpContext.Current.Application[action.FlwId + "_" + action.EntId + "_" + action.WacId]">
                                                    <i class="fa fa-lock"></i> @action.WacName
                                                </button>
                                            }
                                            else
                                            {
                                                <button onclick="startWfAction(@action.WflId, @action.WfvId, @action.WacId, @action.FlwId, @action.EntId);" class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-play"></i> @action.WacName
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    }
                    else
                    {
                        <div class="text-center">Aucune action attendue pour @ViewBag.Username</div>
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        @if (@Model.Workflows.Count > 0)
        {
            <div class="col-md-4">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Procédures</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
                                @foreach (var wfl in Model.Workflows)
                                {
                                    <tr>
                                        <td class="text-bold">@wfl.Name</td>
                                        <td width="20">
                                            <button onclick="startWfAction(@wfl.WflId, @wfl.WfvId, 0, 0, 0);" class="btn btn-sm btn-success" type="button">
                                                <i class="fa fa-play"></i> Démarrer
                                            </button>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>

                    </div><!-- /.box-body -->
                </div>
            </div>
        }
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $("#pendingFolders").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "pageLength": 6,
            "language": {
                "url": dataTableFrenchJson
            }
        });
    });
</script>