﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GUCE v2</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/skin-blue.min.css">
    <link href="~/Content/main.css" rel="stylesheet"/>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/HTMLPrintScript.js"></script>

</head>
<body onload="window.print();">
    <div id="textToPrint">

    </div>
</body>
</html>
