﻿@model Guce.MvcWebUI.Models.Login.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentification | GUCE v2</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
</head>
<body class="hold-transition" style="background-color: #FAFAFA;">
<div class="login-box">
    <div class="login-logo">
        <a href="~/Login">
            <img style="margin-bottom: 5px; height: 100px; width: 100px;"
                 src="~/Content/Images/guce2.png" alt="logo" />
            <p style="font-size: 20px;margin-bottom: -5px;">Guichet Unique de Création d’Entreprise</p>
        </a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Connectez-vous pour accèder à l'application</p>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-error fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="fa fa-times"></i>
                </button>
                @TempData["Message"]
            </div>
        }
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback" style="width: 100%; margin-left: 0;">
                @Html.TextBoxFor(m => Model.User.Username, new
                {
                    @class = "form-control",
                    @required = "required",
                    @placeholder = "Nom d'utilisateur"
                })
                @Html.ValidationMessageFor(m => Model.User.Username)
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="width: 100%; margin-left: 0;">
                @Html.PasswordFor(m => Model.User.Password, new
                {
                    @class = "form-control",
                    @required = "required",
                    @placeholder = "Mot de passe"
                })
                @Html.ValidationMessageFor(m => Model.User.Password)
                <span class="fa fa-unlock-alt form-control-feedback"></span>
            </div>
            <div class="social-auth-links text-center">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
            </div>
            @*<a href="#" style="float: right">Besoin d'aide?</a><br>*@
        }
        <div class="social-auth-links text-center">
            <p>Copyright &copy; 2016 - @DateTime.Today.Year | <a href="http://www.guichetunique.cd" target="_blank">GUCE</a>. Tous droits réservés.
            </p>
            <p style="font-size: 12px; margin-bottom: -10px; margin-top: -5px;">
                Avec l'appui du projet <a href="#">Essor - OHADA</a>  
            </p>
        </div><!-- /.social-auth-links -->
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
<!-- jQuery 2.1.4 -->
<script src="~/Scripts/Plugins/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>