﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@model Guce.MvcWebUI.Models.User.AddUserListViewModel

@{
    IGroupService groupService = new GroupManager(new EfGroupDal());
}

<div id="addUser" class="form-horizontal">
    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Nom & Prénom<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="fullname" type="text" value="@Model.User.Fullname" class="form-control"
                   data-empty-type="error" data-readonly="False"/>
        </div>
    </div>

    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Identifiant<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="username" type="text" value="@Model.User.Username" class="form-control"
                   data-empty-type="error" data-readonly="False" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Groupe<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <select multiple="multiple" id="groups" value="@Model.User.Group" class="form-control"
                   data-empty-type="error" data-readonly="False">
                @{
                    foreach (var group in groupService.GetGroups().OrderBy(g => g.Id))
                    {
                        var selected = "";
                        foreach (var g in Model.User.Group.Split(',').Where(g => @group.Name.Equals(g.StartsWith(" ") ? g.Substring(1) : g)))
                        {
                            selected = "selected";
                        }
                        <option value="@group.Id" @selected>@group.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Attributs (json)</label>
        <div class="col-sm-9">
            <textarea id="attributes" rows="4" class="form-control">@Model.User.Attributes</textarea>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("#groups").multiselect({
        nonSelectedText: "",
        nSelectedText: " items choisis",
        allSelectedText: "Tous les items sélectionnés"
    });
</script>