﻿@using Guce.MvcWebUI.HtmlHelpers
@model Guce.MvcWebUI.Models.User.UserListViewModel

@{
    ViewBag.Title = "Gestion des utilisateurs";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS
{
    <link href="~/Content/Plugins/bootstrap-multiselect.css" rel="stylesheet" />
}
@section Javascript
{
    <script type="text/javascript">
        var addUserUrl = '@Url.Action("Add", "User")';
        var createUserUrl = '@Url.Action("CreateUser", "User")';
        var editUserUrl = '@Url.Action("Edit", "User")';
        var updateUserUrl = '@Url.Action("EditUser", "User")';
        var deleteUserUrl = '@Url.Action("DeleteUser", "User")';
        var checkUsernameUrl = '@Url.Action("CheckUsername", "User")';
    </script>
    <script src="~/Scripts/Plugins/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/userManagementScript.js"></script>
}

<section class="content-header">
    <h1>Utilisateurs</h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gears"></i> Administration</a>
        </li>
        <li class="active">Utilisateurs</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Gestion des utilisateurs (@Model.UserCount)</h3>
                    <div class="box-tools pull-right">

                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="userTable" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Nom complet</th>
                            <th><i class="fa fa-user"></i> Identifiant</th>
                            <th>Groupe</th>
                            <th style="width: 100px;"><i class="fa fa-gears"></i> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Fullname</td>
                                <td>@user.Username</td>
                                <td>@user.Group</td>
                                <td>
                                    <div class="btn-group">
                                        <button onclick="editUser('@user.Username');" type="button" class="btn btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button onclick="deleteUser('@user.Username');" type="button" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="box-footer">
                        <div class="pull-left">
                            <button onclick="addUser();" class="btn btn-sm btn-success"><i class="fa fa-user"></i> Nouveau</button>
                        </div>
                    </div>
                    <!-- Content goes here -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#userTable").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "pageLength": 6,
            "language": {
                "url": "Scripts/Plugins/French.json"
            }
        });
    });
</script>