﻿
@model Guce.MvcWebUI.Models.User.PasswordUserListViewModel


<div id="changePassword" class="form-horizontal">
    <input type="hidden" id="usernameId" value="@Session["username"]"/>
    <div class="form-group form-group-sm">
        <label class="col-sm-4 control-label">Nouveau mot de passe<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            <input data-empty-type="error" data-readonly="False" id="newPassword" type="password" 
                   value="@Model.NewPassword" class="form-control"/>
        </div>
    </div>

    <div class="form-group form-group-sm">
        <label class="col-sm-4 control-label">Répéter mot de passe<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            <input data-empty-type="error" data-readonly="False" id="repeatPassword" type="password" 
                   value="@Model.RepeatPassword" class="form-control"/>
        </div>
    </div>
</div>
