﻿@model Guce.MvcWebUI.Models.Admin.AdminListViewModel

@{
    ViewBag.Title = "Administration";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Administration</h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">administration</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Administration général</h3>
                    <div class="box-tools pull-right">
                        <span style="font-size: 13px;" class="label label-danger"></span>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    
                    <div class="box-footer">
                        <div class="pull-right">
                            
                        </div>
                    </div>
                    <!-- Content goes here -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>