﻿@using Guce.Entities.Custom
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | GUCE v2</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- DataTables -->
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/skin-blue.min.css">
    <link href="~/Content/main.css" rel="stylesheet"/>
    
    <link href="~/Content/Plugins/bootstrap-dialog.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/animate.css" rel="stylesheet" />
    <link href="~/Content/Plugins/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    @RenderSection("CSS", false)
    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/Plugins/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Scripts/Custom/jsonsql-0.1.js"></script>
    
    <script src="~/Scripts/Plugins/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Plugins/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Scripts/Plugins/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/Plugins/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/Plugins/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/Plugins/demo.js"></script>
    <script src="~/Scripts/Plugins/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/Plugins/demo.js"></script>
    <script src="~/Scripts/Plugins/bootstrap-notify.min.js"></script>
    <!-- page script -->

    <script src="~/Scripts/Custom/scriptUser.js"></script>
    <script src="~/Scripts/pdfobject.min.js"></script>
    <script src="~/Scripts/analytics.js"></script>
    
    <script src="~/Scripts/Plugins/dateFormat/dateFormat.min.js"></script>
    <script src="~/Scripts/Plugins/dateFormat/jquery-dateFormat.min.js"></script>
    <script type="text/javascript">
        var passworUrl = '@Url.Action("Password", "User")';
        var changePasswordUrl = '@Url.Action("ChangePassword", "User")';
        var setupUserParameterUrl = '@Url.Action("SetupUserParameter", "Reference")';
        var dataTableFrenchJson = '../Scripts/Plugins/French.json';
    </script>
    <script src="~/Scripts/Custom/layoutScript.js"></script>
    <script type="text/javascript">
        var timeOutUrl = '@Url.Action("TimeOut", "Login")';
    </script>
    @section Javascript
{
        <script type="text/javascript">
            var logoutUrl = '@Url.Action("Logout", "Login")';
            var timeOutUrl = '@Url.Action("TimeOut", "Login")';
        </script>
    }
    @RenderSection("Javascript", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="~/Home" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">
                        <img style="margin-top: -4px; height: 48px; width: 48px;"
                             src="~/Content/Images/guce.png" alt="logo" />
                    </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        <img style="margin-top: -4px; height: 48px; width: 48px;"
                             src="~/Content/Images/guce.png" alt="logo" /> <b>GUCE</b>
                        <small style="font-size: 12px;">V2</small>
                    </span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                @{
                                var homeUrl = (bool) @Session["isAdmin"] ? "All" : "Index";
                                <a href="~/Home/@homeUrl">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-danger">
                                        @if ((bool) @Session["isAdmin"])
                                        {
                                        @Session["pendingAllActions"]
                                        }
                                        else
                                        {
                                        @Session["pendingActions"]
                                        }
                                    </span>
                                </a>
                                }
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Content/Images/avatar.png" class="user-image" alt="User Image">
                                    <span id="usernameconnected" class="hidden-xs">@Session["fullname"]</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="~/Content/Images/avatar.png" class="img-circle" alt="User Image">
                                        <p>
                                            @Session["fullname"]
                                            <small>@ViewBag.Groups</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a onclick="changePassword();" class="btn btn-info">
                                                <i class="fa fa-lock"></i> Mot de passe
                                            </a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="~/Login/Logout" class="btn btn-danger">
                                                <i class="fa fa-sign-out"></i> Déconnexion
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a class="bg-light-blue-gradient" href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Raison Sociale -->
                    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new {@class = "sidebar-form"}))
                    {
                    @Html.AntiForgeryToken()
                    <select class='form-control' name='typeRecherche' title='Type de recherche'
                            style='margin: 5px; width: 198px; background: #ffffff; background: rgba(255, 255, 255, 0.2); border-color: transparent; color: #ccc;'>
                        <option value='ENT'>Rechercher entreprise</option>
                        <option value='PROC'>Rechercher procédure</option>
                    </select>
                    <div style="margin: 5px;">
                        <input type="text" name="val" class="form-control" placeholder="Terme de recherche ...">
                    </div>
                    <div class="text-center">
                        <button type="submit" name="search" class="btn btn-danger" style="margin-bottom: 5px;">
                            <i class="fa fa-search"></i> Rechercher
                        </button>
                    </div>
                    }
                    <!-- /.Raison Sociale -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MENU</li>
                        <li><a href="~/Home"><i class="fa fa-home text-lime"></i> <span>Accueil</span></a></li>
                        <li><a href="#"><i class="fa fa-dashboard text-primary"></i> <span>Tableau de bord</span></a></li>

                        <li class="header">FONCTIONNALITÉS</li>

                        @if ((bool) Session["statPage"])
                        {
                        <li>
                            <a href="~/Stat">
                                <i class="fa fa-pie-chart text-red"></i> <span>Statistiques</span>
                            </a>
                        </li>
                        }

                        <li><a href="#"><i class="fa fa-files-o text-yellow"></i> <span>Rapports</span></a></li>
                        @if ((bool) Session["isAdmin"])
                        {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-gears text-aqua"></i> <span>Administration</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="~/User"><i class="fa fa-users"></i> Gestion utilisateurs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Config">
                                <i class="fa fa-wrench text-green"></i> <span>Paramètres</span>
                            </a>
                        </li>
                        }
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                @RenderBody()
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    Avec l'appui du projet <a href="#"><b>Essor - OHADA</b></a>
                </div>
                <span>Copyright &copy; 2016 - @DateTime.Today.Year | <a href="http://www.guichetunique.cd" target="_blank">Guichet Unique</a>.</span> Tous droits réservés.
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <div class="tab-content">
                    <!-- Settings tab content -->
                    <div class="tab-pane active" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading" style="text-transform: uppercase;">Paramètres Scanner</h3>
                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Chargeur de documents
                                    @{
                                    var userScanWaySession = Session[UserParameterId.ScanningWay + "_" + ViewBag.Username];
                                    var scanWay = userScanWaySession != null && userScanWaySession.Equals("1") ? "" : "checked";
                                    }
                                    <input id="scanningWayId" onchange="changeUserParameter('@UserParameterId.ScanningWay')" type="checkbox" class="pull-right" @scanWay>
                                </label>
                                <span class="font_minus">
                                    Prioriser le chargeur de documents (ADF) sur le scanner à 2 modes de numérisation (chargeur de documents ou platine)
                                </span>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Toujours afficher aperçu PDF
                                    @{
                                    var showSession = Session[UserParameterId.ShowPreview + "_" + ViewBag.Username];
                                    var showPreview = showSession != null && showSession.Equals("1") ? "" : "checked";
                                    }
                                    <input id="showPreviewId" onchange="changeUserParameter('@UserParameterId.ShowPreview')" type="checkbox" class="pull-right" @showPreview>
                                </label>
                            </div><!-- /.form-group -->
                        </form>
                    </div><!-- /.tab-pane -->
                </div>
            </aside><!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->
</body>
</html>
