﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@using Guce.Entities.Custom
@model Guce.MvcWebUI.Models.Form.FindListViewModel

@{
    ViewBag.Title = "Recherche entreprise";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    IWorkflowService workflowService = new WorkflowManager(new EfWorkflowDal());
}
@section Javascript
{
    <script type="text/javascript">
        var findEntitiesUrl = '@Url.Action("Find", "Form")';
        var executeFindEntityUrl = '@Url.Action("ExecuteFindEntity", "Form")';
        var executeCreateEntityUrl = '@Url.Action("ExecuteCreateEntity", "Form")';
    </script>
    <script src="~/Scripts/Plugins/jquery.inputmask.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/Custom/formScript.js"></script>
}
<section class="content-header">
    @{
        var wflName = workflowService.GetWorkflow(Model.WflId).Name;
        var entityName = Model.VwUserNextAction?.EntName != null ? "" + Model.VwUserNextAction.EntName : "";
    }
    <h1>
        @wflName : <small style="font-size: 16px;">@Model.Action.Name</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">@Model.Action.Name</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Action.Name</h3>
                    <div class="box-tools pull-right">
                        <span style="font-size: 13px;" class="label label-danger">@entityName</span>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="hidden" id="WflId" value="@Model.WflId"/>
                            <input type="hidden" id="WfvId" value="@Model.WfvId"/>
                            <input type="hidden" id="ActionId" value="@Model.ActionId"/>
                            <input type="hidden" id="FlowId" value="@Model.FlowId"/>
                            <input type="hidden" id="EntityId" value="@Model.EntityId"/>
                            <div class="input-group input-group-sm" style="margin: 20px 50px;">
                                <select id="searchCriteria" onchange="changeSearchCriteria();" class="form-control">
                                    <option value="1">Dénomination sociale</option>
                                    <option value="2">Numéro RCCM</option>
                                    <option value="3">Numéro NRC</option>
                                    <option value="4">Enseigne</option>
                                    <option value="5">Sigle</option>
                                </select>
                                <span class="input-group-addon"></span>
                            </div>
                            <div class="input-group input-group-lg" style="margin: 20px 50px;">
                                <input type="text" class="form-control" style="height: 40px; font-size: 15px;"
                                       name="Keyword" id="findEntities"
                                       placeholder="Saisir dénomination sociale">
                                <span class="input-group-btn">
                                            <button onclick="findEntities();" class="btn btn-info btn-flat" type="button"
                                                    style="height: 40px; font-size: 15px;">
                                                <i class="fa fa-search"></i> Rechercher
                                            </button>
                                        </span>
                            </div><!-- /input-group -->
                            <div id="findResult"></div>
                        </div>
                    </div>
                    <!-- Content goes here -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    @{
                        if (Model.Action.Action.Equals(ActionType.FindOrCreateEntity))
                        {
                            <div class="btn-group pull-left">
                                <a id="createEntity" onclick="executeCreateEntity(@Model.WflId, @Model.WfvId, @Model.ActionId, @Model.EntityId)" class="btn btn-success" style="display: none;">
                                    <i class="fa fa-plus"></i> Créer entreprise
                                </a>
                            </div>
                        }
                    }
                    <div class="btn-group pull-right">
                        <a href="~/Home/Index" class="btn btn-default"><i class="fa fa-times"></i> Fermer</a>
                    </div>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-mask]').inputmask();
        $("#findEntities").keyup(function (e) {
            if (e.keyCode === 13) {
                findEntities();
            }
        });
    });
</script>