﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@using Guce.Entities.Custom
@using Guce.MvcWebUI.HtmlHelpers
@using Guce.MvcWebUI.Models.Custom
@model Guce.MvcWebUI.Models.Form.FormListViewModel

@{
    ViewBag.Title = Model.Action.Name;
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    ViewBag.ComponentInfos = Model.Infos;
    ViewBag.MethodeVisibility = "executeVisbility";
    ViewBag.PanelId = "entrepriseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IWorkflowService workflowService = new WorkflowManager(new EfWorkflowDal());
    IEntityService entityService = new EntityManager(new EfEntityDal());
    IVwCurrentValueService currentValueService = new VwCurrentValueManager(new EfVwCurrentValueDal(), new EfDicFieldDal());
    IVwCurrentVariableValueService currentVariableService = new VwCurrentVariableValueManager(new EfVwCurrentVariableValueDal(), new EfWfVariableDal());
}
@section Javascript
{
    <script type="text/javascript">
        var timeOutUrl = '@Url.Action("TimeOut", "Login")';
        var searchEntityUrl = '@Url.Action("SearchEntity", "Reference")';
        var addEntityUrl = '@Url.Action("Add", "Reference")';
        var editEntityUrl = '@Url.Action("Edit", "Reference")';
        var infoEntityUrl = '@Url.Action("Info", "Reference")';
        var checkRequiredWarningUrl = '@Url.Action("CheckRequiredWarningField", "Reference")';

        var createComponentUrl = '@Url.Action("CreateComponent", "Reference")';
        var deleteComponentUrl = '@Url.Action("RemoveComponent", "Reference")';
        var getDependenciesUrl = '@Url.Action("GetDependencies", "Reference")';
        var referenceSearchUrl = '@Url.Action("Search", "Reference")';

        var checkIndexUrl = '@Url.Action("CheckIndex", "Reference")';
        var validateIndexUrl = '@Url.Action("ValidateIndex", "Reference")';

        var mergeFilesUrl = '@Url.Action("MergeFiles", "Reference")';
        var scanUrl = '@Url.Action("Scan", "Reference")';
        var scannersUrl = '@Url.Action("GetScanners", "Reference")';
        var previewPdfUrl = '@Url.Action("FileDir", "Reference")';
        var uploadDocFileUrl = '@Url.Action("Upload", "Reference")';
        var deleteFileUrl = '@Url.Action("DeleteFile", "Reference")';

        var formIndexUrl = '@Url.Action("Index", "Form")';
        var formSaveUrl = '@Url.Action("Save", "Form")';
        var formSaveReferenceUrl = '@Url.Action("SaveReference", "Form")';
        var formEditReferenceUrl = '@Url.Action("EditReference", "Form")';
        var formDeleteReferenceUrl = '@Url.Action("DeleteReference", "Form")';

    </script>
    <script src="~/Scripts/Plugins/jquery.inputmask.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/Custom/formScript.js"></script>
}
<section class="content-header">
    @{
        var wflName = Model.VwUserNextAction != null ? Model.VwUserNextAction.WflName + " : " 
            : workflowService.GetWorkflow(Model.WflId).Name + " : ";
        var entityName = Model.VwUserNextAction?.EntName != null ? "" + Model.VwUserNextAction.EntName 
            : entityService.GetEntity(Model.EntityId).Name;
    }
    <h1>
        @wflName <small style="font-size: 16px;">@Model.Action.Name</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">@Model.Action.Name</li>
    </ol>
</section>
<section class="content">
    @if (TempData["Message"] != null)
    {
    <div class="alert alert-warning fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="fa fa-times"></i>
        </button>
        @TempData["Message"]
    </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-warning" style="margin-right: 20px;">@Model.Reference</span>
                        <span style="font-size: 13px;" class="label label-danger">@entityName</span>
                    </div>
                </div><!-- /.box-header -->
                <div id="entrepriseForm" class="form-horizontal">
                    <div class="box-body">
                        <input id="ActionId" type="hidden" name="ActionId" value="@Model.Action.Id"/>
                        <input id="WflId" type="hidden" name="WflId" value="@Model.WflId"/>
                        <input id="WfvId" type="hidden" name="WfvId" value="@Model.WfvId"/>
                        <input id="FlowId" type="hidden" name="FlowId" value="@Model.FlowId"/>
                        <input id="EntityId" type="hidden" name="EntityId" value="@Model.EntityId"/>
                        <input id="StatusId" type="hidden" name="StatusId" value="@Model.StatusId"/>
                        <input id="ReferenceId" type="hidden" value="@Model.Reference"/>

                        @{
                            var i = 0;
                            var j = 0;
                            foreach (var formField in Model.FormFields)
                            {
                                var fields = formField.ToList();
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">@formField.Key</h3>
                                        <div class="box-tools pull-right">
                                            <!--<button class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>-->
                                        </div>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        @foreach (var field in fields)
                                        {
                                            var index = field.DflId != null ? i++ : j++;
                                            var info = new ComponentInfo
                                            {
                                                Id = ViewBag.PanelId + "_" + field.WafId.ToString(),
                                                DisplayName = field.DisplayName,
                                                Type = field.Type,
                                                CodeDcdId = field.CodeDcdId,
                                                CodeInlineDcdId = field.CodeInlineDcdId,
                                                Description = field.Description,
                                                Empty = field.Empty,
                                                Index = index,
                                                ParentId = field.DflId ?? field.WvaId,
                                                ReferenceId = field.ReferenceDicId,
                                                TagName = field.DflId != null ? "Values" : "Variables",
                                                ParentProperty = field.DflId != null ? "DflId" : "WvaId",
                                                ValueProperty = field.DflId != null ? "ValueContent" : "Value",
                                                Visibility = field.Visibility,
                                                ConditionalDisplayName = field.ConditionalDisplayName,
                                                DicName = field.DicName,
                                                Name = field.TechnicalName,
                                                DefaultValue = field.DefaultValue,
                                                TextArea = field.TextArea,
                                                Css = field.Css,
                                                MultiValued = field.MultiValued,
                                                ValidationRegexp = field.ValidationRegexp,
                                                ReadOnly = field.ReadOnly,
                                                SearchCriteria = field.SearchCriteria,
                                                Group = field.Group,
                                                Order = field.Order,
                                                DicColor = field.DicColor,
                                                DicShareable = field.DicShareable,
                                                Mask = field.Mask,
                                                IdxId = field.IdxId
                                            };
                                            if (Model.EntityId != 0 && info.ParentId != null && info.ParentProperty.Equals("DflId"))
                                            {
                                                var value = currentValueService.GetCurrentValue(Model.EntityId, (int) info.ParentId);
                                                info.Value = info.Type.Equals(FieldType.Code) ? value?.CodeId?.ToString() : value?.Value;
                                                if (value != null)
                                                {
                                                    info.ValueId = value.ValId;
                                                }
                                                else
                                                {
                                                    if (info.Name.Equals("nomCommercial") && Session["denominationSociale"] != null)
                                                    {
                                                        info.Value = Session["denominationSociale"].ToString();
                                                        Session["denominationSociale"] = null;
                                                    }
                                                }
                                            }
                                            else if (Model.FlowId != 0 && info.ParentId != null && info.ParentProperty.Equals("WvaId"))
                                            {
                                                var variable = currentVariableService.GetCurrentVariableValue((int) info.ParentId, Model.FlowId);
                                                info.Value = info.Type.Equals(FieldType.Code) ? variable?.DciId?.ToString() : variable?.Value;
                                                if (variable != null)
                                                {
                                                    info.ValueId = variable.FvvId;
                                                }
                                            }
                                            @Html.CreateComponent(info, false, false, Session["username"].ToString())
                                            if (info.MultiValued != null && (bool) info.MultiValued
                                                && Model.EntityId > 0 && info.ParentId != null)
                                            {
                                                if (info.ParentProperty.Equals("DflId"))
                                                {
                                                    var valIdParent = info.ValueId;
                                                    var multiValues = currentValueService.GetMultiValues(Model.EntityId, (int) info.ParentId, valIdParent);
                                                    foreach (var currentValue in multiValues)
                                                    {
                                                        info.Value = info.Type.Equals(FieldType.Code) ? currentValue?.CodeId?.ToString() : currentValue?.Value;
                                                        info.ValueId = currentValue.ValId;
                                                        info.Id = info.Id + currentValue.ValId;
                                                        @Html.CreateComponent(info, false, true, Session["username"].ToString())
                                                    }
                                                }
                                                else
                                                {
                                                    var multiVariables = currentVariableService.GetMultiVariables((int) info.ParentId, Model.FlowId, info.ValueId);
                                                    foreach (var variable in multiVariables)
                                                    {
                                                        info.Value = info.Type.Equals(FieldType.Code) ? variable?.DciId?.ToString() : variable?.Value;
                                                        info.ValueId = variable.FvvId;
                                                        info.Id = info.Id + variable.FvvId;
                                                        @Html.CreateComponent(info, false, true, Session["username"].ToString())
                                                    }
                                                }
                                            }
                                        }
                                    </div><!-- /.box-body -->
                                </div>
                            }
                        }
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            <button type="button" onclick="saveData();" class="btn btn-default">
                                <i class="fa fa-save text-red"></i> Sauvegarder
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button id="validateBtn" type="button" onclick="saveEntreprise();" class="btn btn-info" style="margin-right: 5px;">
                                <i class="fa fa-check"></i> Valider
                            </button>
                            <a href="~/Home/Index" class="btn btn-default"><i class="fa fa-times"></i> Fermer</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>
@{
    if (@ViewBag.ComponentInfos != null)
    {
        @ComponentHelper.PageJavascript(@ViewBag.ComponentInfos, "pageJSON", "executeVisbility()", false, @Model.EntityId)
    }
}