﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@model Guce.MvcWebUI.Models.Form.PrintListViewModel

@{
    ViewBag.Title = Model.Action.Name;
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    IWorkflowService workflowService = new WorkflowManager(new EfWorkflowDal());
    IEntityService entityService = new EntityManager(new EfEntityDal());
    IVwCurrentValueService currentValueService = new VwCurrentValueManager(new EfVwCurrentValueDal(), new EfDicFieldDal());
    IDicCodeItemService codeService = new DicCodeItemManager(new EfDicCodeItemDal());
}

@section Javascript
{
<script type="text/javascript">
    var formPrintUrl = '@Url.Action("Print", "Form")';
    var findEntitieUrl = '@Url.Action("FindCurrentValueNotValidated", "Search")';
    var findNumeroDosierUrl = '@Url.Action("FindNumeroDossier", "Report")';
    var findInfoNotaire = '@Url.Action("FindInfoNotaire", "Report")';
    var GenerateDateToWord = '@Url.Action("GenerateDateToWord", "Report")';
    var drapeauUrl = '@Url.Content("~/Content/Images/drapeau_rdc.jpg")';
    var logoutUrl = '@Url.Action("Logout", "Login")';
    var fontUrl = '@Url.Content("~/fonts/ufonts.com_justify-regular-ttnorm.ttf")';
    var findMoreInfoNotaire = '@Url.Action("FindMoreInfoNotaire", "Report")';
    var FindFluxValues = '@Url.Action("FindFluxValues","Report")';
    var GetValueModified = '@Url.Action("GetValueModified","Report")';
    var GetHistoriqueEntreprise = '@Url.Action("GetHistoriqueEntreprise", "Report")';

    var fieldPropertiesUrl = '@Url.Action("GetFieldProperties", "Report")';

    var logoMo = '@Url.Content("~/Content/Images/logo_Mo.png")';
    var logoMoBis = '@Url.Content("~/Content/Images/logo_Mo_Bis.png")';
    var logoUrl = '@Url.Content("~/Content/Images/guce_print.jpg")';
    var logoBGUrl = '@Url.Content("~/Content/Images/guce_bg.jpg")';
    var p1Url = '@Url.Content("~/Content/Images/p1.JPG")';
    var checkUrl = '@Url.Content("~/Content/Images/sq2.jpg")';
    var uncheckUrl = '@Url.Content("~/Content/Images/sq.jpg")';
</script>
    
<script src="~/Scripts/Custom/HTMLPrintScript.js"></script>
    <script src="~/Scripts/Custom/formScript.js"></script>
<script src="~/Scripts/Custom/HTMLPrintGreffier.js"></script>
}
@* Store User's SessionId *@
<input type="hidden" id="sid" name="sid" value="@Session.SessionID"/>
<section class="content-header">
    @{
        var wflName = Model.VwUserNextAction != null ? Model.VwUserNextAction.WflName + " : "
            : workflowService.GetWorkflow(Model.WflId).Name + " : ";
        var entityName = Model.VwUserNextAction?.EntName != null ? "" + Model.VwUserNextAction.EntName
            : entityService.GetEntity(Model.EntityId).Name;
    }
    <h1>
        @wflName <small style="font-size: 16px;">@Model.Action.Name</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i>Accueil</a>
        </li>
        <li class="active">@Model.Action.Name</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-warning" style="margin-right: 20px;">@Model.Reference</span>
                        <span style="font-size: 13px;" class="label label-danger">@entityName</span>
                    </div>
                </div><!-- /.box-header -->
                <div class="form-horizontal">
                    <div class="box-body" style="background-color: lightgray;">
                        <input id="ActionId" type="hidden" name="ActionId" value="@Model.Action.Id" />
                        <input id="WflId" type="hidden" name="WflId" value="@Model.WflId" />
                        <input id="WfvId" type="hidden" name="WfvId" value="@Model.WfvId" />
                        <input id="FlowId" type="hidden" name="FlowId" value="@Model.FlowId" />
                        <input id="EntityId" type="hidden" name="EntityId" value="@Model.EntityId" />
                        <input id="StatusId" type="hidden" name="StatusId" value="@Model.StatusId" />
                        <input id="ReportId" type="hidden" name="ReportId" value="@Model.ReportId" />
                        <input id="FunctionToPrint" type="hidden" name="FunctionToPrint" value="@Model.FunctionToPrint" />
                        <!-- Content goes here -->

                        <div class="center-block" style="width: 700px; height: 100%; background-color: #FFFFFF;
                            padding: 35px; align-self: center;" id="textToPrint">
                            Chargement en cours . . .
                        </div>

                        @{
                            var objetSocial = currentValueService.GetCurrentValues(Model.EntityId).FindLast(v => v.FieldName.Equals("objetSocial"))?.Value;
                            var tab = objetSocial?.Split(' ');
                            if (tab != null && tab.Length > 70)
                            {
                                <div id="interCalaireObjetSocial" class="center-block" style="width: 700px; margin-top: 30px; height: 100%; background-color: #FFFFFF;padding: 35px; align-self: center;">
                                    Chargement en cours . . .
                                </div>
                            }
                            var testDirigeant = currentValueService.GetCurrentValues(Model.EntityId).Count(v => v.FieldName.Equals("dirigeant")) > 3;
                            var codeId = currentValueService.GetCurrentValues(Model.EntityId).FindLast(v => v.FieldName.Equals("formeJuridiqueN3")).CodeId;
                            if (codeId != null)
                            {
                                var formJuridiqueN3 = codeService.GetDicCodeItem((int)codeId).Code;
                                var testFormJuridiqueN3 = formJuridiqueN3.Equals("B11") || formJuridiqueN3.Equals("B10") || formJuridiqueN3.Equals("C10") || formJuridiqueN3.Equals("C10b");
                                var testAssocie = false;
                                if (testFormJuridiqueN3)
                                {
                                    testAssocie = currentValueService.GetCurrentValues(Model.EntityId).Count(v => v.FieldName.Equals("associe")) > 3;
                                }
                                if (testDirigeant || testAssocie)
                                {
                                    <div id="interCalaireEntity" class="center-block" style="width: 700px; margin-top: 30px; height: 100%; background-color: #FFFFFF;padding: 35px; align-self: center;">
                                        Chargement en cours . . .
                                    </div>
                                }
                            }
                            codeId = currentValueService.GetCurrentValues(Model.EntityId).FindLast(v => v.FieldName.Equals("formeJuridiqueN1")).CodeId;
                            if (codeId != null && codeService.GetDicCodeItem((int) codeId).Code.Equals("B"))
                            {
                                <div id="acteDepot" class="center-block" style="width: 700px; margin-top: 30px; height: 100%; background-color: #FFFFFF; padding: 35px; align-self: center;">
                                    Chargement en cours . . .
                                </div>
                            }
                        }

                        <div class="center-block" style="width: 700px; margin-top: 30px; height: 100%; background-color: #FFFFFF;
                                                                                                       padding: 35px; align-self: center;" id="textToPrint1">
                            Chargement en cours . . .
                        </div>

                        <div class="center-block" style="width: 700px; margin-top: 30px; height: 100%; background-color: #FFFFFF;
                        padding:35px; align-self: center;" id="textToPrint2">
                            
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            <a onclick='printReport("@Model.Action.Name");' id="pdf_button" class="btn btn-default">
                                <i class="fa fa fa-print text-red"></i> Imprimer
                            </a>
                        </div>
                        <div class="btn-group pull-right">
                            <button id="validateBtn" type="button" onclick="printEntreprise();" class="btn btn-info" style="margin-right: 5px;">
                                <i class="fa fa-check"></i> Valider
                            </button>
                            <a href="~/Home/" class="btn btn-default"><i class="fa fa-times"></i> Fermer</a>
                        </div>
                    </div><!-- /.box-footer -->
                </div>
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: fieldPropertiesUrl,
            success: function (response) {
                fieldPropertiesJson = $.parseJSON(response);
                loadReport();
            },
            error: function () {
                messageAlert("Erreur de chargement des libellés ...");
            }
        });
    });
</script>



   
