﻿@using Guce.Business.Abstract
@using Guce.Business.Concrete.Manager
@using Guce.DataAccess.Concrete
@using Guce.MvcWebUI.HtmlHelpers
@model Guce.MvcWebUI.Models.Form.ValidateListViewModel

@{
    ViewBag.Title = Model.Action.Name;
    ViewBag.Username = Session["username"];
    ViewBag.ComponentInfos = Model.Infos;
    ViewBag.PanelId = "entrepriseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IWorkflowService workflowService = new WorkflowManager(new EfWorkflowDal());
    IEntityService entityService = new EntityManager(new EfEntityDal());
}
@section Javascript
{
    <script type="text/javascript">
        var searchEntityUrl = '@Url.Action("SearchEntity", "Reference")';
        var addEntityUrl = '@Url.Action("Add", "Reference")';
        var editEntityUrl = '@Url.Action("Edit", "Reference")';

        var mergeFilesUrl = '@Url.Action("MergeFiles", "Reference")';
        var scanUrl = '@Url.Action("Scan", "Reference")';
        var previewPdfUrl = '@Url.Action("FileDir", "Reference")';
        var uploadDocFileUrl = '@Url.Action("Upload", "Reference")';

        var formValidateUrl = '@Url.Action("Validate", "Form")';
    </script>
    <script src="~/Scripts/Plugins/jquery.inputmask.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/Plugins/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/Custom/formScript.js"></script>
    <script src="~/Scripts/Custom/validateScript.js"></script>
}
<section class="content-header">
    @{
        var wflName = Model.VwUserNextAction != null ? Model.VwUserNextAction.WflName + " : "
            : workflowService.GetWorkflow(Model.WflId).Name + " : ";
        var entityName = Model.VwUserNextAction?.EntName != null ? "" + Model.VwUserNextAction.EntName
            : entityService.GetEntity(Model.EntityId).Name;
    }
    <h1>
        @wflName <small style="font-size: 16px;">@Model.Action.Name</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">@Model.Action.Name</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Action.Name</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-warning" style="margin-right: 20px;">@Model.Reference</span>
                        <span style="font-size: 13px;" class="label label-danger">@entityName</span>
                    </div>
                </div><!-- /.box-header -->
                <div id="entrepriseForm" class="form-horizontal">
                    <div class="box-body">
                        <input id="ActionId" type="hidden" name="ActionId" value="@Model.Action.Id"/>
                        <input id="WflId" type="hidden" name="WflId" value="@Model.WflId"/>
                        <input id="WfvId" type="hidden" name="WfvId" value="@Model.WfvId"/>
                        <input id="FlowId" type="hidden" name="FlowId" value="@Model.FlowId"/>
                        <input id="EntityId" type="hidden" name="EntityId" value="@Model.EntityId"/>
                        @{
                            <!-- Affichage des variables -->
                            @*foreach (var currentVariable in Model.CurrentVariables)
                            {
                                @Html.ValidateValue(null, currentVariable)
                            }*@
                            <!-- Affichage des values -->
                            foreach (var currentValue in Model.CurrentValues)
                            {
                                @Html.ValidateValue(currentValue, null)
                            }
                        }
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="btn-group pull-right">
                            <button id="validateBtn" type="button" onclick="validateEntreprise();" class="btn btn-info" style="margin-right: 5px;">
                                <i class="fa fa-check"></i> Valider
                            </button>
                            <a href="~/Home/Index" class="btn btn-default"><i class="fa fa-times"></i> Fermer</a>
                        </div>
                    </div><!-- /.box-footer -->
                </div>
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>
@{
    if (@ViewBag.ComponentInfos != null)
    {
        @ComponentHelper.PageJavascript(@ViewBag.ComponentInfos, "pageJSON", "executeVisbility()", true, @Model.EntityId)
    }
}