﻿@model Guce.MvcWebUI.Models.Search.SearchViewListModel

@{
    ViewBag.Title = "Résultats recherche";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript
{
    <script type="text/javascript">
        var searchFluxTraitementUrl = '@Url.Action("FluxDeTraitement", "Search")';
        var findCurrentValuetUrl = '@Url.Action("FindCurrentValue", "Search")';
        var findAllValuetUrl = '@Url.Action("FindAllValue", "Search")';
        var FindDossierEnCoursUrl = '@Url.Action("FindDossierEnCours", "Search")';
        var findEntitieUrl = '@Url.Action("FindCurrentValueNotValidated","Search")';
        
        var inscriptionComplementaire = false;
        var fieldPropertiesJson;
        var excludedFields = ["dirigeant", "associe", "commissaireAuxComptes", "mandataireSociete", "formeJuridiqueN1", "siegeExploitation", "adressesEtablissementsSecondaires"];
        var indentification = ["nomCommercial", "rccm", "dateImmatriculationRCCM", "enseigne", "sigle", "adresseSiegeSocial", "adresseSiegeExploitation", "dateDebutExploitation"];
        var renseignementMorale = ["formeJuridiqueN3", "secteurActivite", "activitePrincipale", "duree", "capitalSocial"];
        var renseignementPhysique = ["nom", "prenom", "dateNaissance", "adresse", "situationMatrimoniale"];

        var fieldPropertiesUrl = '@Url.Action("GetFieldProperties", "Report")';

        var logoUrl = '@Url.Content("~/Content/Images/guce_print.jpg")';
    </script>
    @*<script src="~/Scripts/jsreports-all.min.js"></script>*@
    @*<script src="~/Scripts/Custom/formScript.js"></script>
    <script src="~/Scripts/Custom/PrintScript.js"></script>*@
<script src="~/Scripts/Custom/HTMLPrintScript.js"></script>
}

<section class="content-header">
    <h1>
        Moteur de recherche
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">Recherche</li>
    </ol>
</section>
<section class="content">
<!-- Info boxes -->
<div class="box box-primary box-solid" id="searchTabDiv">
    <div class="box-header with-border">
        <h3 id="titre" class="box-title" style="text-transform: uppercase;">@ViewBag.Title</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" onclick="collapsePanel();" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div id="main1">
        <div class="box-body" style="display: block;">
            <table class="table table-striped table-bordered" id="searchTab">
                @if (Model.EntityMainSearchs != null)
                {
                    <thead>
                    <tr>
                        <th>Dénomination sociale</th>
                        <th>Date création</th>
                        <th>Auteur</th>
                        <th style="width: 80px;"><i class="fa fa-gears"></i> Action</th>
                        <th style="display: none;">EntityID</th>
                    </tr>
                    </thead>
                    foreach (var entity in Model.EntityMainSearchs)
                    {
                        <tr>
                            <td>@entity.name</td>
                            <td>@entity.creation_time</td>
                            <td>@entity.created_by</td>
                            <td>
                                <button type="submit" class="btn btn-primary" onclick="collapsePanel()" style="margin-right: 5px;">
                                    <i class="fa fa-info"></i> Détails
                                </button>
                            </td>
                            <td style="display: none;">@entity.id</td>
                        </tr>
                    }
                }
                else if (Model.FolderMainSearchs != null)
                {
                    <thead>
                    <tr>
                        <th>Procédure</th>
                        <th>Date création</th>
                        <th>Auteur</th>
                        <th style="width: 80px;"><i class="fa fa-gears"></i> Action</th>
                        <th style="display: none;">EntityID</th>
                    </tr>
                    </thead>
                    foreach (var entity in Model.FolderMainSearchs)
                    {
                        <tr>
                            <td>@entity.name</td>
                            <td>@entity.creation_time</td>
                            <td>@entity.created_by</td>
                            <td>
                                <button type="submit" class="btn btn-info" onclick="collapsePanel()" style="margin-right: 5px;">
                                    <i class="fa fa-check"></i> Voir plus
                                </button>
                            </td>
                            <td style="display: none;">@entity.id</td>
                        </tr>
                    }
                }

            </table>
        </div>
    </div>

    <!-- /.box-body -->
</div>

<div class="box box-info" id="detailTabDiv" style="display: none;">
    <div class="box-header with-border">
        <h3 id="titre" class="box-title">Détails</h3>
        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" onclick="collapsePanel();" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>*@
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-striped table-bordered" id="detailsContent">
            <tr>

            </tr>
        </table>
    </div>

</div>

<div class="box box-danger" id="folderTabDiv" style="display: none;">
    <div class="box-header with-border">
        <h3 id="titre" class="box-title">Dossiers</h3>
        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" onclick="collapsePanel();" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>*@
        </div>
        <!-- /.box-tools -->
    </div>
    <div class="box-body">
        <table class="table table-striped table-bordered" id="folderContent">
            <thead>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-warning" id="fluxTabDiv" style="display: none;">
    <div class="box-header with-border">
        <h3 id="titre1" class="box-title">Flux de traitement</h3>
        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" onclick="collapsePanel();" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>*@
        </div>
        <!-- /.box-tools -->
    </div>
    <div class="box-body">
        <table class="table table-striped table-bordered" id="fluxContent">
            <thead>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-success" id="AllTabDiv" style="display: none;">
    <div class="box-header with-border">
        <h3 id="titre2" class="box-title">Détails</h3>
        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" onclick="collapsePanel();" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>*@
        </div>
        <!-- /.box-tools -->
    </div>
    <div class="box-body" id="AllContent">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Libélé</th>
                <th>Valeur</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<!-- /.row -->
</section>
<script type="text/javascript">
        $(document).ready(function () {
            $('#searchTab').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "pageLength": 6,
                "language": {
                    "url": dataTableFrenchJson
                }
            });
            $("#searchTab_info").hide();
            $.ajax({
                type: "POST",
                url: fieldPropertiesUrl,
                success: function (response) {
                    fieldPropertiesJson = $.parseJSON(response);
                    loadReport();
                },
                error: function () {
                    messageAlert("Erreur de chargement des libellés ...");
                }
            });
            //var text = $("#searchTab_filter").text();
            //$("#searchTab_filter").text(text.replace('Search', 'Chercher'));
            //$("#searchTab_filter").find("label").html("Chercher:<input type=\"search\" class=\"\" placeholder=\"\" aria-controls=\"searchTab\">");

        });
</script>