﻿/**/

/*.hide-component {
  display: none;
}*/

.error {
    font-weight: normal;
    color: red;
}

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
     cursor: move;
}
.inputValue {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: #EEEEEE;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 7px;
    vertical-align: baseline;
    width: 100%;
}
.inputValue a {
    float: right;
    cursor: pointer;
}
.validateLink {
    margin: auto 5px;
}

.reset-field-btn {
    position: absolute;
    top: 106%;
    left: 100%;
    margin: -30px 0 5px -32px;
    cursor: pointer;
    z-index: 100;
}

input.form-control[type=radio]{
    margin-top: -33px;
}

.font_minus {
    font-size: 10px !important;
    font-style: italic !important;
    line-height: -2px !important;
}