﻿@model Guce.MvcWebUI.Models.Config.ParameterListViewModel

<div id="editParameter" class="form-horizontal">
    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">ID<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="id" type="text" value="@Model.Parameter.Id" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Valeur<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="value" type="text" value="@Model.Parameter.Value" class="form-control" />
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Utilisateur<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="username" type="text" value="@Model.Parameter.Username" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Description<span style="color: red;">*</span></label>
        <div class="col-sm-9">
            <input id="desc" type="text" value="@Model.Parameter.Description" class="form-control" />
        </div>
    </div>
</div>