﻿@using Guce.MvcWebUI.HtmlHelpers
@model Guce.MvcWebUI.Models.Config.ConfigListViewModel

@{
    ViewBag.Title = "Configuration";
    ViewBag.Username = Session["username"];
    ViewBag.Groups = Session["userGroup"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript
{
    <script type="text/javascript">
        var editParameterUrl = '@Url.Action("Edit", "Config")';
        var editParameterPostUrl = '@Url.Action("Edit", "Config")';
    </script>
    <script src="~/Scripts/Custom/formScript.js"></script>
    <script src="~/Scripts/Custom/parameterScript.js"></script>
}

<section class="content-header">
    <h1>Configuration</h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="active">Paramètres</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Paramètres généraux</h3>
                    <div class="box-tools pull-right">
                        <span style="font-size: 13px;" class="label label-danger"></span>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="configTable" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Valeur</th>
                            <th>Description</th>
                            <th><i class="fa fa-users"></i></th>
                            <th style="width: 100px;"><i class="fa fa-gears"></i> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var admin = Model.Admin ? "" : "disabled='disabled'";
                        }
                        @foreach (var par in Model.Parameters)
                        {
                            <tr>
                                <td>@par.Id</td>
                                <td>@par.Value</td>
                                <td>@par.Description</td>
                                <td>@par.Username</td>
                                <td>
                                    <div class="btn-group">
                                        <button onclick="editParameter('@par.Id')" type="button" class="btn btn-warning" @admin>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" disabled="disabled">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <!-- Content goes here -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#configTable").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "pageLength": 6,
            "language": {
                "url": "Scripts/Plugins/French.json"
            }
        });
    });
</script>